.navbar{
    background-color: #FAFAFA !important;
    box-shadow: none;
    
}

.navbar.colorChange {
    background-color: #FAFAFA!important;
    transition: all 1s ease;
    box-shadow: 10px;
    color: black;
}